version: "3.9"

services:
  qdrant:
    image: qdrant/qdrant:latest
    container_name: qdrant
    ports:
      - "6333:6333"
      - "6334:6334"
    volumes:
      - qdrant_data:/qdrant/storage
    restart: unless-stopped

  testgen-api:
    image: soumikindocker/zebra-demo-testgen-api:zebra-demo-testgen-api
    build:
      context: .
      dockerfile: Dockerfile.api
    container_name: rag-testgen-api
    environment:
      OPENAI_API_KEY: ${OPENAI_API_KEY}
      OPENAI_MODEL: ${OPENAI_MODEL:-gpt-4o-mini}
      OPENAI_EMBED_MODEL: ${OPENAI_EMBED_MODEL:-text-embedding-3-large}

      QDRANT_URL: http://qdrant:6333
      QDRANT_COLLECTION_PREFIX: ${QDRANT_COLLECTION_PREFIX:-testgen_}

      JIRA_BASE_URL: ${JIRA_BASE_URL}
      JIRA_EMAIL: ${JIRA_EMAIL}
      JIRA_API_TOKEN: ${JIRA_API_TOKEN}
    ports:
      - "8000:8000"
    depends_on:
      - qdrant
    restart: unless-stopped

  testgen-ui:
    image: soumikindocker/zebra-demo-testgen-ui:zebra-demo-testgen-ui
    build:
      context: .
      dockerfile: Dockerfile.ui
    container_name: rag-testgen-ui
    environment:
      TESTGEN_API_BASE: http://testgen-api:8000
    ports:
      - "8501:8501"
    depends_on:
      - testgen-api
    restart: unless-stopped

volumes:
  qdrant_data:
